USE [master]
GO
/****** Object:  Database [DoAnQuanLyQuanCafe]    Script Date: 6/6/2017 9:38:47 PM ******/
CREATE DATABASE [DoAnQuanLyQuanCafe]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DoAnQuanLyQuanCafe', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\DoAnQuanLyQuanCafe.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DoAnQuanLyQuanCafe_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\DoAnQuanLyQuanCafe_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DoAnQuanLyQuanCafe].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DoAnQuanLyQuanCafe]
GO
/****** Object:  StoredProcedure [dbo].[TAIKHOANLIST]    Script Date: 6/6/2017 9:38:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[TAIKHOANLIST]
@TenTK varchar(100)
as
begin 
     select * from TAIKHOAN WHERE TENTK = @TenTK
end
EXEC dbo.TAIKHOANLIST @TenTK


GO
/****** Object:  StoredProcedure [dbo].[USP_GetKiemKeList]    Script Date: 6/6/2017 9:38:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[USP_GetKiemKeList]
(
@ngaykk smalldatetime
)
as select  KIEMKE.NgayKiemKe, KIEMKE.TenTK, CT_KIEMKE.MaNL, NGUYENLIEU.TenNL,CT_KIEMKE.SL, CT_KIEMKE.DVT from (dbo.KIEMKE inner join dbo.CT_KIEMKE on KIEMKE.NgayKiemKe = CT_KIEMKE.NgayKiemKe) inner join NGUYENLIEU on CT_KIEMKE.MaNL = NGUYENLIEU.MaNL where KIEMKE.NgayKiemKe = @ngaykk


GO
/****** Object:  StoredProcedure [dbo].[USP_GetLoaiMon]    Script Date: 6/6/2017 9:38:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[USP_GetLoaiMon]
as select * from LoaiMon


GO
/****** Object:  StoredProcedure [dbo].[USP_GetMonAn]    Script Date: 6/6/2017 9:38:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[USP_GetMonAn]
as select * from MONAN


GO
/****** Object:  StoredProcedure [dbo].[USP_GetNguyenLieuList]    Script Date: 6/6/2017 9:38:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[USP_GetNguyenLieuList]
as select * from dbo.NGUYENLIEU


GO
/****** Object:  StoredProcedure [dbo].[USP_InsertCTHD]    Script Date: 6/6/2017 9:38:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[USP_InsertCTHD]
(
	@mama int ,
	@mahd int,
	@soluong int,
	@dvt nvarchar(100)
)
as 
begin
		insert into CTHD (MAMA, MAHD, Soluong, DVT) values (@mama, @mahd, @soluong, @dvt)
end


GO
/****** Object:  StoredProcedure [dbo].[USP_InsertHoaDon]    Script Date: 6/6/2017 9:38:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[USP_InsertHoaDon]
(
	@lucvao smalldatetime,
	@lucra smalldatetime ,
	@maban int
)
as
begin
		insert into HOADON (DateCheckIn , DateCheckOut , MABA) values (@lucvao , @lucra , @maban)
end




GO
/****** Object:  StoredProcedure [dbo].[USP_InsertLoaiMon]    Script Date: 6/6/2017 9:38:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[USP_InsertLoaiMon]
(
@tenloaimon nvarchar(100)
)
as
begin
	insert into dbo.LOAIMON values (@tenloaimon)
end


GO
/****** Object:  StoredProcedure [dbo].[USP_InsertMonAnmoi]    Script Date: 6/6/2017 9:38:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[USP_InsertMonAnmoi]
(	
	@dongia float,
	@dvt nvarchar(100),
	@tenmonan nvarchar(100),
	@maloai int
)
as
begin 
	insert into dbo.MONAN values (@dongia,@dvt,@tenmonan,@maloai)
end


GO
/****** Object:  StoredProcedure [dbo].[USP_InsertNguyenLieu]    Script Date: 6/6/2017 9:38:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[USP_InsertNguyenLieu]
(
@manl varchar(100),
@tennl varchar(100),
@ngaynhap smalldatetime,
@nguoinhap varchar(100)
)
as
begin
	insert into dbo.NGUYENLIEU values (@manl,@tennl,@ngaynhap,@nguoinhap)
end


GO
/****** Object:  Table [dbo].[BANAN]    Script Date: 6/6/2017 9:38:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BANAN](
	[MABA] [int] IDENTITY(1,1) NOT NULL,
	[TENBA] [nvarchar](100) NULL,
	[TRANGTHAI] [nvarchar](100) NULL,
	[status] [int] NOT NULL,
	[MAKV] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MABA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CATRUC]    Script Date: 6/6/2017 9:38:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATRUC](
	[MACT] [int] IDENTITY(1,1) NOT NULL,
	[TENCA] [nvarchar](100) NULL,
	[BATDAU] [nvarchar](100) NULL,
	[KETTHUC] [nvarchar](100) NULL,
	[TIENCHINHTHUC] [int] NULL,
	[TIENTHOIVU] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MACT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHITIETTINHCONG]    Script Date: 6/6/2017 9:38:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETTINHCONG](
	[MACHITIET] [int] IDENTITY(1,1) NOT NULL,
	[MADD] [int] NOT NULL,
	[MANV] [int] NOT NULL,
	[MACT] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MACHITIET] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHUCVU]    Script Date: 6/6/2017 9:38:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUCVU](
	[MACV] [int] IDENTITY(1,1) NOT NULL,
	[TENCV] [nvarchar](100) NULL,
	[HELUONG] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MACV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CT_KIEMKE]    Script Date: 6/6/2017 9:38:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CT_KIEMKE](
	[NgayKiemKe] [smalldatetime] NOT NULL,
	[MaNL] [varchar](10) NOT NULL,
	[SL] [float] NULL,
	[DVT] [varchar](10) NULL,
 CONSTRAINT [PK_CTKK] PRIMARY KEY CLUSTERED 
(
	[NgayKiemKe] ASC,
	[MaNL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CT_NL]    Script Date: 6/6/2017 9:38:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CT_NL](
	[MAMA] [int] NOT NULL,
	[MaNL] [varchar](10) NOT NULL,
	[SoLuong] [float] NULL,
 CONSTRAINT [PP_DK] PRIMARY KEY CLUSTERED 
(
	[MAMA] ASC,
	[MaNL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CTDS_NHAPHANG]    Script Date: 6/6/2017 9:38:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CTDS_NHAPHANG](
	[NgayNhapHang] [smalldatetime] NOT NULL,
	[MaNL] [varchar](10) NOT NULL,
	[SL] [int] NULL,
	[DVT] [varchar](10) NULL,
	[XacNhan] [bit] NULL,
 CONSTRAINT [PK_CTNH] PRIMARY KEY CLUSTERED 
(
	[NgayNhapHang] ASC,
	[MaNL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CTHD]    Script Date: 6/6/2017 9:38:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTHD](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MAMA] [int] NULL,
	[MAHD] [int] NULL,
	[Soluong] [int] NULL,
	[DVT] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DANHSACH_NHAPHANG]    Script Date: 6/6/2017 9:38:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DANHSACH_NHAPHANG](
	[NgayNhapHang] [smalldatetime] NOT NULL,
	[TenTK] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[NgayNhapHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DIEMDANH]    Script Date: 6/6/2017 9:38:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIEMDANH](
	[MADD] [int] IDENTITY(1,1) NOT NULL,
	[NGAY] [smalldatetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MADD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 6/6/2017 9:38:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[MAHD] [int] IDENTITY(1,1) NOT NULL,
	[DateCheckIn] [smalldatetime] NOT NULL,
	[DateCheckOut] [smalldatetime] NULL,
	[GiamGia] [int] NULL,
	[MABA] [int] NULL,
	[status] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KHUVUC]    Script Date: 6/6/2017 9:38:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHUVUC](
	[MAKV] [int] IDENTITY(1,1) NOT NULL,
	[TENKV] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KIEMKE]    Script Date: 6/6/2017 9:38:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KIEMKE](
	[NgayKiemKe] [smalldatetime] NOT NULL,
	[TenTK] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[NgayKiemKe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOAIMON]    Script Date: 6/6/2017 9:38:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIMON](
	[MALOAI] [int] IDENTITY(1,1) NOT NULL,
	[TENLOAI] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MALOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MONAN]    Script Date: 6/6/2017 9:38:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MONAN](
	[MAMA] [int] IDENTITY(1,1) NOT NULL,
	[DonGia] [float] NULL,
	[DVT] [nvarchar](100) NULL,
	[TENMA] [nvarchar](100) NULL,
	[MALOAI] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAMA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NGUYENLIEU]    Script Date: 6/6/2017 9:38:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NGUYENLIEU](
	[MaNL] [varchar](10) NOT NULL,
	[TenNL] [nvarchar](50) NULL,
	[NgayNhap] [smalldatetime] NULL,
	[TenTK] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 6/6/2017 9:38:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [int] IDENTITY(1,1) NOT NULL,
	[MACV] [int] NOT NULL,
	[HOTEN] [nvarchar](100) NOT NULL,
	[PHAI] [nvarchar](100) NULL,
	[NGAYSINH] [smalldatetime] NULL,
	[CMND] [nvarchar](100) NULL,
	[DIACHI] [nvarchar](100) NULL,
	[DIENTHOAI] [nvarchar](100) NULL,
	[LOAINV] [nvarchar](100) NULL,
	[TINHTRANG] [int] NOT NULL,
	[TRANGTHAI] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHIEUCHI]    Script Date: 6/6/2017 9:38:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUCHI](
	[MAPC] [int] IDENTITY(1,1) NOT NULL,
	[NOIDUNG] [nvarchar](100) NULL,
	[SOTIEN] [int] NULL,
	[NGAYLAP] [smalldatetime] NULL,
	[GHICHU] [nvarchar](100) NULL,
	[NGUOINHAN] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 6/6/2017 9:38:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[TENTK] [varchar](100) NOT NULL,
	[LOAITK] [nvarchar](100) NULL,
	[MATKHAU] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[TENTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[BANAN] ON 

INSERT [dbo].[BANAN] ([MABA], [TENBA], [TRANGTHAI], [status], [MAKV]) VALUES (1, N'Ban0', NULL, 0, 3)
INSERT [dbo].[BANAN] ([MABA], [TENBA], [TRANGTHAI], [status], [MAKV]) VALUES (2, N'Ban1', NULL, 0, 3)
INSERT [dbo].[BANAN] ([MABA], [TENBA], [TRANGTHAI], [status], [MAKV]) VALUES (3, N'Ban2', NULL, 0, 3)
SET IDENTITY_INSERT [dbo].[BANAN] OFF
SET IDENTITY_INSERT [dbo].[CATRUC] ON 

INSERT [dbo].[CATRUC] ([MACT], [TENCA], [BATDAU], [KETTHUC], [TIENCHINHTHUC], [TIENTHOIVU]) VALUES (1, N'Ca sáng', N'6h00', N'11h00', 100000, 120000)
INSERT [dbo].[CATRUC] ([MACT], [TENCA], [BATDAU], [KETTHUC], [TIENCHINHTHUC], [TIENTHOIVU]) VALUES (2, N'Ca chiều', N'11h00', N'16h00', 100000, 120000)
INSERT [dbo].[CATRUC] ([MACT], [TENCA], [BATDAU], [KETTHUC], [TIENCHINHTHUC], [TIENTHOIVU]) VALUES (3, N'Ca tối', N'16h00', N'22h00', 100000, 120000)
SET IDENTITY_INSERT [dbo].[CATRUC] OFF
SET IDENTITY_INSERT [dbo].[CHITIETTINHCONG] ON 

INSERT [dbo].[CHITIETTINHCONG] ([MACHITIET], [MADD], [MANV], [MACT]) VALUES (1, 1, 5, 1)
INSERT [dbo].[CHITIETTINHCONG] ([MACHITIET], [MADD], [MANV], [MACT]) VALUES (2, 1, 1, 1)
INSERT [dbo].[CHITIETTINHCONG] ([MACHITIET], [MADD], [MANV], [MACT]) VALUES (3, 1, 2, 1)
GO
SET IDENTITY_INSERT [dbo].[CHITIETTINHCONG] OFF
SET IDENTITY_INSERT [dbo].[CHUCVU] ON 

INSERT [dbo].[CHUCVU] ([MACV], [TENCV], [HELUONG]) VALUES (1, N'Nhân viên', 1)
INSERT [dbo].[CHUCVU] ([MACV], [TENCV], [HELUONG]) VALUES (2, N'Thu Ngân', 1.2)
INSERT [dbo].[CHUCVU] ([MACV], [TENCV], [HELUONG]) VALUES (3, N'Pha Chế', 1.2)
SET IDENTITY_INSERT [dbo].[CHUCVU] OFF
INSERT [dbo].[CT_KIEMKE] ([NgayKiemKe], [MaNL], [SL], [DVT]) VALUES (CAST(0xA76C0000 AS SmallDateTime), N'MK01', 5, N'Kg')
INSERT [dbo].[CT_KIEMKE] ([NgayKiemKe], [MaNL], [SL], [DVT]) VALUES (CAST(0xA76C0000 AS SmallDateTime), N'MK02', 10, N'Chai')
INSERT [dbo].[CT_KIEMKE] ([NgayKiemKe], [MaNL], [SL], [DVT]) VALUES (CAST(0xA76C0000 AS SmallDateTime), N'MK03', 10, N'Kg')
INSERT [dbo].[CT_NL] ([MAMA], [MaNL], [SoLuong]) VALUES (1, N'MK01', 0.1)
INSERT [dbo].[CT_NL] ([MAMA], [MaNL], [SoLuong]) VALUES (2, N'MK02', 0.1)
INSERT [dbo].[CT_NL] ([MAMA], [MaNL], [SoLuong]) VALUES (3, N'MK03', 0.1)
INSERT [dbo].[CTDS_NHAPHANG] ([NgayNhapHang], [MaNL], [SL], [DVT], [XacNhan]) VALUES (CAST(0xA76C0000 AS SmallDateTime), N'MK01', 5, N'kg', 0)
INSERT [dbo].[CTDS_NHAPHANG] ([NgayNhapHang], [MaNL], [SL], [DVT], [XacNhan]) VALUES (CAST(0xA76C0000 AS SmallDateTime), N'MK02', 5, N'chai', 0)
INSERT [dbo].[CTDS_NHAPHANG] ([NgayNhapHang], [MaNL], [SL], [DVT], [XacNhan]) VALUES (CAST(0xA76C0000 AS SmallDateTime), N'MK03', 5, N'kg', 1)
SET IDENTITY_INSERT [dbo].[CTHD] ON 

INSERT [dbo].[CTHD] ([ID], [MAMA], [MAHD], [Soluong], [DVT]) VALUES (1, 1, 1, 3, N'ly')
INSERT [dbo].[CTHD] ([ID], [MAMA], [MAHD], [Soluong], [DVT]) VALUES (2, 2, 1, 2, N'ly')
INSERT [dbo].[CTHD] ([ID], [MAMA], [MAHD], [Soluong], [DVT]) VALUES (3, 3, 1, 3, N'ly')
SET IDENTITY_INSERT [dbo].[CTHD] OFF
INSERT [dbo].[DANHSACH_NHAPHANG] ([NgayNhapHang], [TenTK]) VALUES (CAST(0xA7690000 AS SmallDateTime), N'admin')
INSERT [dbo].[DANHSACH_NHAPHANG] ([NgayNhapHang], [TenTK]) VALUES (CAST(0xA76A0000 AS SmallDateTime), N'admin')
INSERT [dbo].[DANHSACH_NHAPHANG] ([NgayNhapHang], [TenTK]) VALUES (CAST(0xA76B0000 AS SmallDateTime), N'admin')
SET IDENTITY_INSERT [dbo].[DIEMDANH] ON 

INSERT [dbo].[DIEMDANH] ([MADD], [NGAY]) VALUES (1, CAST(0xA77F0000 AS SmallDateTime))
INSERT [dbo].[DIEMDANH] ([MADD], [NGAY]) VALUES (2, CAST(0xA78A0000 AS SmallDateTime))
INSERT [dbo].[DIEMDANH] ([MADD], [NGAY]) VALUES (3, CAST(0xA7890000 AS SmallDateTime))
SET IDENTITY_INSERT [dbo].[DIEMDANH] OFF
SET IDENTITY_INSERT [dbo].[HOADON] ON 

INSERT [dbo].[HOADON] ([MAHD], [DateCheckIn], [DateCheckOut], [GiamGia], [MABA], [status]) VALUES (1, CAST(0xA77E04B9 AS SmallDateTime), NULL, NULL, 3, 1)
INSERT [dbo].[HOADON] ([MAHD], [DateCheckIn], [DateCheckOut], [GiamGia], [MABA], [status]) VALUES (2, CAST(0xA77E04B9 AS SmallDateTime), NULL, NULL, 4, 1)
INSERT [dbo].[HOADON] ([MAHD], [DateCheckIn], [DateCheckOut], [GiamGia], [MABA], [status]) VALUES (3, CAST(0xA77E04B9 AS SmallDateTime), CAST(0xA77E04B9 AS SmallDateTime), NULL, 5, 1)
SET IDENTITY_INSERT [dbo].[HOADON] OFF
SET IDENTITY_INSERT [dbo].[KHUVUC] ON 

INSERT [dbo].[KHUVUC] ([MAKV], [TENKV]) VALUES (1, N'Sân vườn')
INSERT [dbo].[KHUVUC] ([MAKV], [TENKV]) VALUES (2, N'Máy lạnh')
INSERT [dbo].[KHUVUC] ([MAKV], [TENKV]) VALUES (3, N'Sân sau')
SET IDENTITY_INSERT [dbo].[KHUVUC] OFF
INSERT [dbo].[KIEMKE] ([NgayKiemKe], [TenTK]) VALUES (CAST(0xA76C0000 AS SmallDateTime), N'admin')
INSERT [dbo].[KIEMKE] ([NgayKiemKe], [TenTK]) VALUES (CAST(0xA7720000 AS SmallDateTime), N'admin')
INSERT [dbo].[KIEMKE] ([NgayKiemKe], [TenTK]) VALUES (CAST(0xA77A0000 AS SmallDateTime), N'admin')
SET IDENTITY_INSERT [dbo].[LOAIMON] ON 

INSERT [dbo].[LOAIMON] ([MALOAI], [TENLOAI]) VALUES (1, N'Cafe')
INSERT [dbo].[LOAIMON] ([MALOAI], [TENLOAI]) VALUES (2, N'Trà sữa')
INSERT [dbo].[LOAIMON] ([MALOAI], [TENLOAI]) VALUES (3, N'Chè')
SET IDENTITY_INSERT [dbo].[LOAIMON] OFF
SET IDENTITY_INSERT [dbo].[MONAN] ON 

INSERT [dbo].[MONAN] ([MAMA], [DonGia], [DVT], [TENMA], [MALOAI]) VALUES (1, 15000, N'Ly', N'Trà sữa chân châu', 2)
INSERT [dbo].[MONAN] ([MAMA], [DonGia], [DVT], [TENMA], [MALOAI]) VALUES (2, 14000, N'Ly', N'Trà sữa socola', 2)
INSERT [dbo].[MONAN] ([MAMA], [DonGia], [DVT], [TENMA], [MALOAI]) VALUES (3, 13000, N'Ly', N'Trà sữa nho', 2)
SET IDENTITY_INSERT [dbo].[MONAN] OFF
INSERT [dbo].[NGUYENLIEU] ([MaNL], [TenNL], [NgayNhap], [TenTK]) VALUES (N'MK01', N'Duong', CAST(0xA76C0000 AS SmallDateTime), N'admin')
INSERT [dbo].[NGUYENLIEU] ([MaNL], [TenNL], [NgayNhap], [TenTK]) VALUES (N'MK02', N'Dau an', CAST(0xA76C0000 AS SmallDateTime), N'admin')
INSERT [dbo].[NGUYENLIEU] ([MaNL], [TenNL], [NgayNhap], [TenTK]) VALUES (N'MK03', N'Nho', CAST(0xA76C0000 AS SmallDateTime), N'admin')
SET IDENTITY_INSERT [dbo].[NHANVIEN] ON 

INSERT [dbo].[NHANVIEN] ([MANV], [MACV], [HOTEN], [PHAI], [NGAYSINH], [CMND], [DIACHI], [DIENTHOAI], [LOAINV], [TINHTRANG], [TRANGTHAI]) VALUES (1, 1, N'Nguyễn Văn A', N'Nam', CAST(0x81790000 AS SmallDateTime), N'390282099', N'Long Bình, Bình Tân , TPHCM', N'099809765', N'Nhân viên thời vụ', 1, 1)
INSERT [dbo].[NHANVIEN] ([MANV], [MACV], [HOTEN], [PHAI], [NGAYSINH], [CMND], [DIACHI], [DIENTHOAI], [LOAINV], [TINHTRANG], [TRANGTHAI]) VALUES (2, 1, N'Nguyễn Thị B', N'Nữ', CAST(0x82480000 AS SmallDateTime), N'390282090', N'Trường Trinh, Bình Tân , TPHCM', N'099809765', N'Nhân viên thời vụ', 1, 1)
INSERT [dbo].[NHANVIEN] ([MANV], [MACV], [HOTEN], [PHAI], [NGAYSINH], [CMND], [DIACHI], [DIENTHOAI], [LOAINV], [TINHTRANG], [TRANGTHAI]) VALUES (3, 1, N'Trần Hải Đông', N'Nam', CAST(0x83FE0000 AS SmallDateTime), N'390002090', N'Bình Chánh, TPHCM', N'099009d999', N'Nhân viên thời vụ', 1, 1)
SET IDENTITY_INSERT [dbo].[NHANVIEN] OFF
SET IDENTITY_INSERT [dbo].[PHIEUCHI] ON 

INSERT [dbo].[PHIEUCHI] ([MAPC], [NOIDUNG], [SOTIEN], [NGAYLAP], [GHICHU], [NGUOINHAN]) VALUES (1, N'Mua bóng đèn', 150000, CAST(0xA7A50000 AS SmallDateTime), N'', N'Trần Thị Bích')
INSERT [dbo].[PHIEUCHI] ([MAPC], [NOIDUNG], [SOTIEN], [NGAYLAP], [GHICHU], [NGUOINHAN]) VALUES (2, N'Mua ghế', 550000, CAST(0xA7C60000 AS SmallDateTime), N'thay mới', N'Trần Thị Nhạn Chanh')
INSERT [dbo].[PHIEUCHI] ([MAPC], [NOIDUNG], [SOTIEN], [NGAYLAP], [GHICHU], [NGUOINHAN]) VALUES (3, N'Đóng tiền điện', 745000, CAST(0xA6F20000 AS SmallDateTime), N'', N'Đàm Vĩnh Hưng')
SET IDENTITY_INSERT [dbo].[PHIEUCHI] OFF
INSERT [dbo].[TAIKHOAN] ([TENTK], [LOAITK], [MATKHAU]) VALUES (N'admin', N'Quan li', N'1')
INSERT [dbo].[TAIKHOAN] ([TENTK], [LOAITK], [MATKHAU]) VALUES (N'admin1', N'Quan li', N'1')
INSERT [dbo].[TAIKHOAN] ([TENTK], [LOAITK], [MATKHAU]) VALUES (N'Nhan vien', N'Nhan vien', N'1')
ALTER TABLE [dbo].[BANAN] ADD  DEFAULT ((0)) FOR [status]
GO
ALTER TABLE [dbo].[HOADON] ADD  DEFAULT (getdate()) FOR [DateCheckIn]
GO
ALTER TABLE [dbo].[HOADON] ADD  DEFAULT ((0)) FOR [status]
GO
ALTER TABLE [dbo].[NHANVIEN] ADD  DEFAULT ((1)) FOR [TINHTRANG]
GO
ALTER TABLE [dbo].[NHANVIEN] ADD  DEFAULT ((1)) FOR [TRANGTHAI]
GO
ALTER TABLE [dbo].[BANAN]  WITH CHECK ADD FOREIGN KEY([MAKV])
REFERENCES [dbo].[KHUVUC] ([MAKV])
GO
ALTER TABLE [dbo].[CHITIETTINHCONG]  WITH CHECK ADD FOREIGN KEY([MACT])
REFERENCES [dbo].[CATRUC] ([MACT])
GO
ALTER TABLE [dbo].[CHITIETTINHCONG]  WITH CHECK ADD FOREIGN KEY([MADD])
REFERENCES [dbo].[DIEMDANH] ([MADD])
GO
ALTER TABLE [dbo].[CHITIETTINHCONG]  WITH CHECK ADD FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[CT_KIEMKE]  WITH CHECK ADD FOREIGN KEY([MaNL])
REFERENCES [dbo].[NGUYENLIEU] ([MaNL])
GO
ALTER TABLE [dbo].[CT_KIEMKE]  WITH CHECK ADD FOREIGN KEY([NgayKiemKe])
REFERENCES [dbo].[KIEMKE] ([NgayKiemKe])
GO
ALTER TABLE [dbo].[CT_NL]  WITH CHECK ADD FOREIGN KEY([MAMA])
REFERENCES [dbo].[MONAN] ([MAMA])
GO
ALTER TABLE [dbo].[CT_NL]  WITH CHECK ADD FOREIGN KEY([MaNL])
REFERENCES [dbo].[NGUYENLIEU] ([MaNL])
GO
ALTER TABLE [dbo].[CTDS_NHAPHANG]  WITH CHECK ADD FOREIGN KEY([NgayNhapHang])
REFERENCES [dbo].[DANHSACH_NHAPHANG] ([NgayNhapHang])
GO
ALTER TABLE [dbo].[CTDS_NHAPHANG]  WITH CHECK ADD FOREIGN KEY([MaNL])
REFERENCES [dbo].[NGUYENLIEU] ([MaNL])
GO
ALTER TABLE [dbo].[CTHD]  WITH CHECK ADD FOREIGN KEY([MAHD])
REFERENCES [dbo].[HOADON] ([MAHD])
GO
ALTER TABLE [dbo].[CTHD]  WITH CHECK ADD FOREIGN KEY([MAMA])
REFERENCES [dbo].[MONAN] ([MAMA])
GO
ALTER TABLE [dbo].[DANHSACH_NHAPHANG]  WITH CHECK ADD  CONSTRAINT [FK_DSNH] FOREIGN KEY([TenTK])
REFERENCES [dbo].[TAIKHOAN] ([TENTK])
GO
ALTER TABLE [dbo].[DANHSACH_NHAPHANG] CHECK CONSTRAINT [FK_DSNH]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD FOREIGN KEY([MABA])
REFERENCES [dbo].[BANAN] ([MABA])
GO
ALTER TABLE [dbo].[KIEMKE]  WITH CHECK ADD FOREIGN KEY([TenTK])
REFERENCES [dbo].[TAIKHOAN] ([TENTK])
GO
ALTER TABLE [dbo].[MONAN]  WITH CHECK ADD FOREIGN KEY([MALOAI])
REFERENCES [dbo].[LOAIMON] ([MALOAI])
GO
ALTER TABLE [dbo].[NGUYENLIEU]  WITH CHECK ADD FOREIGN KEY([TenTK])
REFERENCES [dbo].[TAIKHOAN] ([TENTK])
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD FOREIGN KEY([MACV])
REFERENCES [dbo].[CHUCVU] ([MACV])
GO
USE [master]
GO
